<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- 배포될 때 표시될 현재 프로젝트(context 이름) -->
	<display-name>JSPBasic</display-name>

	<!-- 요청페이지를 지정하지 않았을 때 자동으로 실행될 시작페이지 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 서블릿 매핑 -->
	<servlet>
		<servlet-name>HelloServlet_GET</servlet-name>
		<servlet-class>com.ksh.basic.HelloServlet_GET</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet_GET</servlet-name>
		<url-pattern>/hello.do</url-pattern>
	</servlet-mapping>

</web-app>